


#top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
    height: 49px;
    background: #212739;
}
h2.fs-title.mtop10 {
    margin-top: 10px;
}
.simg{
    width: 64px;
}
#logo {
    margin-left: 20px;
}
#logo img{
	    width: 275px;
    margin-top: 7px;
    margin-left: 15px;
}
.socialfonts{
        font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
#nav > ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 9px 0 0;
    margin-right: 22px;
}
#togglecont {
    margin-top: 12px;
    float: left;
}
.footerrow{
    margin-top: 35px;
    color: #22283a;
}
.footerrow:hover{
    color: darkgray;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/precon.gif) center no-repeat #fff;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: -2px;
}
.themecolor{
    color: #22283a;
}
.leadinputs{
        height: 40px;
/*    width: 310px !important;*/
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.leadform{ 
/*        width: 663px;*/
    margin: 0 auto;
}
.acolor{
        color: #6a7784;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 33px;
}
.leademail{
     height: 40px;
    width: 92.7% !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.faucetcontainer{
	margin-top : 6%;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
#togglecontlabel{
	font-size: 15px;
    font-weight: 400;
    margin-top:15px;
}
body {
    min-height: 100%;
    background: #ecf1f5;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body, textarea, input, select, option, button {
    color: #7f91a3;
    font-family: Lato, sans-serif;
    line-height: 1.38461538462;
}

#nav {
    position: absolute;
    top: 0;
    right: 57px;
    bottom: 0;
}

#send{
	    background: #22283a;
    color: white;
}
#html_element{
        width: 304px;
    margin: 0 auto;
    margin-top: 12px;
}
i.fa.fa-fw.fa-eye.field-icon.toggle-password{
        font-size: 25px;
    margin-top: -47px;
    margin-right: 10px;
}
.errorContainer{
      background: #2d962fe0;
    color: white;
    font-size: 17px;
    padding: 10px;
    border-radius: 4px;
    display: none;
    font-weight: 600;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
.errorContainer p{
        margin-bottom: 0px;
}
/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
   
    background: -webkit-linear-gradient(to left, #989898, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
}

body {

    background: transparent;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #22283a;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-family: Lato, sans-serif;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #22283a;
}

#msform .action-button-previous {
    width: 100px;
    background: #989898;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #989898;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}
.transactionid{ font-size: 13px;}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
.font15{
        font-size: 15px;
}
#transurl{
        font-size: 13px;
/*    float: left;*/
}
.transid{
        font-size: 13px;
    
}
.transactionid.transactionUrl{
   
    width: 100%;
    overflow-x: scroll;
    color: white;
}



.topbot25{
        margin-top: 25px;
    margin-bottom: 25px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
   list-style-type: none;
    color: #22283a;
    text-transform: uppercase;
    font-size: 9px;
    width: 16.6%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}
.width200{ 
    width: 200px !important;
}
.maright30{
    margin-right: 30px;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #fff;
    background: #da5ca2;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}
.ext {
/*    width: 82px;*/
    float: left;
    font-weight: 400;

}
i.fa.fa-fw.field-icon.toggle-password.fa-eye-slash {
    font-size: 25px;
    margin-top: -47px;
    margin-right: 10px;
}
.datacontainer{
    width: 82%;
    margin: 0 auto;
    background: #eceaea;
    padding: 20px;
    display: none;
    font-weight: 600;
}

#downloadlink{
    width: 80px;
}
.mtb5{
        margin-top: 5px;
    margin-bottom: 5px;
}
#regist{
     width: 82% !important;
}
.overx{
    overflow-x: scroll;
}

.font13{
    font-size: 13px;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #da5ca2;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #22283a;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}
.maright10{
    margin-right: 10px;
}
.balancespan{
           right: 4%;
    font-size: 13px;
    color: #8364ff;
    position: absolute;
}
.newUser{
	    width: 200px !important;
    border-radius: 0px !important;
}

.standfont{
    font-size: 14px;
}
.urldiv{
        width: 100%;
    /*overflow-x: scroll;*/
    word-wrap: break-word;
}
.disabledbtn{
    background: #989898 !important;
    /*cursor:  none !important;*/
}
#skip{ display: none; }
#msform {
    text-align: center;
    position: relative;
    margin-top: 80px;
}

@media only screen and (max-width: 900px)
{
		#nav {
		    right: 20px;
		}
        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            box-sizing: border-box;
            width: 100%;
            margin: 0 0%;
            position: relative;
        }
}

@media only screen and (max-width: 640px){
    .leadinputs {
    height: 40px;
/*    width: 68% !important;*/
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
    .intro{
        width: 33px !important;
    overflow: hidden;
}
    
}


@media only screen and (max-width: 458px){
        #togglecont {
            margin-top: 9px;
            float: left;
            margin-left: 36px;
        }
        #nav {
        right: 20px;
    margin-top: 10px;
    background: #54b2ce;
    position: initial;
    text-align: right;
    height: 45px;
    }


}